.container {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 32px;
}

.listSection {
  margin-bottom: 64px;
}

.fetchButton {
  margin-bottom: 16px;
}

.fetchMoreError {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-size: 1.2em;
  color: darkred;
  margin-bottom: 16px;
}
