.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.5em;
  color: #333333;
  text-indent: 8px;
  margin-bottom: 32px;
  border-bottom: 2px solid black;
}

.centeredContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}

.errorText {
  font-size: 1.2em;
  color: darkred;
}

.infoText {
  font-size: 1.2em;
  color: #666666;
}
