.list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: stretch;
}

.listItem {
  border: 2px solid transparent;
  cursor: pointer;
}

.listItem:hover {
  border-color: pink;
}
